<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <main>
        <div>
            <h1> My Lists</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                <tbody>
                    {% for todolist in todolists %}
                        <tr>
                            <td><a href="{% url 'todos:todo_list_detail' todolist.id %}">{{ todolist.name }}</a></td>
                            <td>{{ todolist.items.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
