<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todolist.name}}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due date</th>
                </tr>
                </thead>
                <tbody>
                    {% for todoitem in todolist.items.all %}
                        <tr>
                            <td>{{ todoitem.task }}</td>
                            <td>{{ todoitem.due_date|default:"Not specified" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
